
body {
  font-family: 'Roboto', sans-serif;
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  box-shadow: 6px 3px 0 black;
  margin-right: 3em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.1em;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin-top: 0%;
}

hr {
  display: none;
}

.mainNav {
  border: 4px solid black;
  width: 97%;
  min-width: 375px;
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  font-size: larger;
  font-weight: bold;
}

#list {
  color: blue;
}

.navLinks {
  display: flex;
  list-style: none;
}

.aNavLink:nth-child(1) {
  padding-right: 1em;
}

.aNavLink:nth-child(2) {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding-left: 1em;
  padding-right: 1em;
}

.aNavLink:nth-child(3) {
  padding-left: 1em;
}

.aNavLink a {
  text-decoration: none;
  color: black;
}

.userInput {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: 98%;
  height: 500px;
  margin-bottom: 2em;
}

.item button {
  margin-left: 10em;
  border-radius: 0;
}

#addBtn {
  /* margin-left: 47em; */
  border-radius: 0;
  border: solid 2px black;

  /* margin-top: 1.5em; */
  font-size: 1.25em;
  margin: 0;

  /* padding: 0; */
}

#bookShelf {
  height: 60vh;
  width: 100%;
  padding: 0;
  margin: 0%;
  overflow-y: scroll;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4.5em;
}

.item p {
  font-weight: 600;
  font-size: 1.1em;
}

.item:nth-child(2n) {
  background-color: lightgray;
}

footer {
  border: 4px solid black;
  padding: 20px;
  font-weight: bold;
  width: 97%;
  min-width: 375px;
}

.contantInfo {
  display: flex;
  flex-direction: column;
  padding: 4em;
  z-index: 99;
  position: fixed;
  background-color: white;
  top: 5.3em;
  font-size: 1.25em;
}

.contantInfo h1 {
  text-align: center;
  font-size: 2.5em;
}

.contantInfo p,
.contantInfo ul {
  font-size: 1.5em;
}

.hidden {
  display: none;
}

.shelfWrapper {
  height: 60vh;
  width: 99.5%;
  min-width: 375px;
  border: 4px solid black;
  margin-bottom: 2em;
}

.date {
  width: 99%;
  text-align: right;
  margin-top: 0.5em;
}

.titleAuthor {
  display: flex;
  gap: 0.5em;
  padding-left: 2em;
}

input {
  width: 50%;
  font-size: 2em;
  padding: 20px;
  border: 4px solid black;
}

#title {
  margin-bottom: 1em;
}

.userInput h2 {
  font-size: 4em;
}

#btncont {
  display: flex;
  justify-content: flex-end;
  width: 52%;
  margin-top: 1em;
}

.foot {
  margin-top: 38em;
}
